<html>
<head>
    <title>Cycle Project - About</title>
    <!-- Compiled and minified CSS -->
    <!-- Load Core Materialize CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>    
    <script type="text/javascript" src="/static/js/about.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/static/js/about.json"></script>

</head>
<body>
    <header>
        <nav class="green">
            <div class="nav-wrapper">
                <a href="https://nitk.ac.in" class="brand-logo right">

                    <img class="responsive-img" src="/static/img/logo.png" style="height: 60px;">
                </a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li  class="active">
                        <a href="/about">About</a>
                    </li>
                </ul>
                <p class="flow-text center hide-on-med-and-down">Cycle Project</p>
            </div>
        </nav>

    </header>

    <main>
        <div class="container">
            <h2 class="pt-sans">Team</h2>
            <hr>

            <div class="row flow-text">
                <div id="team-container" class="row"></div>
            </div>
        </div>


    </main>

    <br><br>
    <hr>

    <footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">NITK Cycle Project</h5>
                <p class="grey-text text-lighten-4">Bringing your future to you</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://nitk.ac.in">NITK Website</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://ccc.nitk.ac.in">Cycle Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Cycle Project Team
        </div>
    </div>
</footer>
</body>
</html>